/* FILEPATH: /Users/vamsi/Desktop/QuickInventoryManagement-main/src/css/styles.css */

.App {
  font-family: sans-serif;
  text-align: center;
}

.front {
  border: 1px solid black;
  height: 200px;
  width: 500px;
  margin-left: 400px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.back {
  border: 1px solid black;
  height: 1200px;
  width: 500px;
  margin-left: 400px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
}

.button {
  border: none;
  background-color: bisque;
  width: 60px;
  height: 32px;
  font-size: 15px;
  font-weight: 600;
}
